body { font-family: sans-serif; }
.letra_estrofa { line-height: 1.2; }
.acorde_estrofa {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}
.acorde_estrofa b {
  display: block;
  font-size: 0.9em;
  color: red;
  line-height: 0.4;
}
.letra_estrib { line-height: 1.2; font-style: italic;font-weight: bold;}
.acorde_estrib {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}
.acorde_estrib b {
  display: block;
  font-size: 0.9em;
  color: red;
  line-height: 0.4;
}
.blancos {color: white}
